}
//@theme "/usr/local/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/games-default.rasi"

//@theme "/usr/local/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/games-smaller.rasi"

//@theme "/usr/local/share/rofi/themes/android_notification.rasi"

//@theme "/usr/local/share/rofi/themes/dmenu.rasi"

//@theme "/home/zach/.local/share/rofi/themes/rounded-blue-dark.rasi"

//@theme "/home/zach/.local/share/rofi/themes/simple-tokyonight.rasi"

//@theme "/home/zach/.local/share/rofi/themes/launchpad.rasi"

//@theme "/usr/local/share/rofi/themes/DarkBlue.rasi"

//@theme "/home/zach/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

//@theme "/home/zach/.local/share/rofi/themes/rounded-blue-dark.rasi"

//@theme "/usr/share/rofi/themes/games-default.rasi"

//@theme "/usr/share/rofi/themes/games-smaller.rasi"

//@theme "/usr/local/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/local/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/local/share/rofi/themes/fullscreen-preview.rasi"

@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
